#container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#templates-container {
  z-index: -4;
}
.hero {
    height: 100vh;
    background-image: url('http://3.bp.blogspot.com/-J0BBPpyYxOY/TnO-HMOPJSI/AAAAAAAAArg/u_9d9zT_w7U/s1600/red-lobster-cheddar-cheese-biscuits-recipe1.JPG');
    background-size: cover;
    z-index: -5;
    position: relative;
    background-attachment: fixed;
}

.hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: $julius;
    font-size: 10em;
    color: rgba(black, .5);
    font-size: bold;
    z-index: -1;
    transition: all 1s ease;

    @include media(770px) {
      font-size: 9em;
    }
    @include media(700px) {
      font-size: 8em;
    }
    @include media(617px) {
      font-size: 7em;
    }
    @include media(540px) {
      font-size: 6em;
    }
    @include media(460px) {
      font-size: 5em;
      top: 25%;
    }
    @include media(400px) {
      font-size: 4em;
    }





    span {
        background: rgba(black, .5);
        display: block;
        width: 300%;
        color: white;
    }
}

h1 {
    text-align: center;
    font-family: $textfont;
    position: absolute;
    z-index: 1;
    top: 15%;
    color: white;
    background: red;
    @include center();
    width: 75%;
    padding: 10px 0;
}
