.desktop-nav {
    width: 100%;
    height: 9vh;
    float: right;
    list-style: none;
    overflow: hidden;
    background: black;
    color: white;
    opacity: 0.6;
    transition: all 1s ease;

    .mobile-menu {
      display: none;

      @include media(500px) {
        display: block;
      }
    }

    li {
        display: inline-block;
        padding: 15px 11%;
        font-family: $julius;
        font-size: 25px;

        @include media(1215px) {
          padding:15px 9%;
        }

        @include media(880px) {
          padding:15px 7%;
        }

        @include media(720px) {
          padding:15px 5%;
        }

        @include media(590px) {
          padding:15px 3%;
        }

        &:hover {
            background: red;
            color: white;
        }

    }
}

.home {
    float: left;
}

.mobile-nav {
  background: rgba(black, .5);
  list-style: none;
  color: white;
  padding: 10px;
  float: left;
  display: none;
  z-index: 50;


  li {
    font-family: $textfont;
    padding: 10px;

    &:hover {
        background: red;
        color: white;
    }

  }
}
