#recipes {
    height: 91vh;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 9vh;
    transition: all 1s ease;

    @include center();

    @include media(1060px) {
      width: 55%;
    }
    @include media(985px) {
      width: 60%;
    }
    @include media(885px) {
      width: 70%;
    }

    .recipe-container {
        background: rgba(black, .5);
        margin: 5% 0;
        overflow: hidden;
        padding: 5% 0;
        position: relative;
        transition: all 1s ease;
        border-radius: $radius;

        &:hover > #delete {
            display: inline;
        }

        @include media(603px) {
          padding: 9% 0;
        }


        h1 {
            width: 100%;
            top: 0;
            font-family: $textfont;
            z-index: 1;
        }

        img {
            width: 200px;
            margin: 5%;
            float: left;
            border-radius: $radius;

            @include media(514px) {
              margin-left: 24%;
            }
            @include media(400px) {
              margin-left: 15%;
            }


        }

        ul {
            display: none;
            background: rgba(white, .5);
            border-radius: $radius;
            margin-top: 13%;

            li {
                padding: 5px;
                font-family: $textfont;
            }
        }
    }

    #plus {
        bottom: 0;
        position: absolute;
        @include button();
        text-align: center;
        width: 100%;
        background: rgba(red, .5);
        cursor: pointer;

    }

    #delete {
        font-size: 30px;
        position: absolute;
        right: 4px;
        top: 4px;
        display: none;
        z-index: 2;
    }

    #showIngredients {
        background: red;
        color: white;
        border-radius: $radius;
        padding: 5px;
        font-family: $julius;
        margin-top: 5%;
        margin-left: 10px;
        width: 150px;
        height: 20px;
        font-family: $textfont;
        float: left;

        &:hover {
          background: black;
          cursor: pointer;
        }

        @include media(1250px) {
          margin: 10px;
        }
        @include media(514px) {
          margin-left: 30%;
        }
        @include media(400px) {
          margin-left: 22%;
        }

    }

    #moreInfo {
      @extend #showIngredients;

      @include media(1244px) {
        margin-top: 5%;
      }
      @include media(603px) {
        margin: 10px;
      }
      @include media(514px) {
        margin-left: 30%;
      }
      @include media(400px) {
        margin-left: 22%;
      }


    }
    .active {
      display: inline-block;
    }
}
