//Variables
$julius: 'Julius Sans One', sans-serif;
$textfont: 'Roboto', sans-serif;
$radius: 5px;
//mixins
@mixin center() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin button() {
    font-size: 30px;
    color: red;

    &:hover {
        color: black;
    }
}

@mixin media ($bp) {
     @media only screen and (max-width: $bp){
        @content;
    }
}

//Imports
@import "partials/reset";
@import "partials/navbar";
@import "partials/home";
@import "partials/map";
@import "partials/recipes";
